@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Elsie:400,900');


* {
    background-size: cover;
    font-family: 'Karla', sans-serif;
}

.grid-class {
 
    display: grid;
    grid-template-columns: 175px 1.75fr 1fr;
    grid-template-rows: 2fr 5fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-areas: "image head head" 
    "nav main main" 
    "foot foot foot";
    width: 100vw;
    height: 100vh;
   
}
#logo {
    grid-area: image;
    padding-left: 20px;
    padding-top: 20px;
}

.header {
    font-family: 'Elsie', cursive;
    font-weight: 900;
    text-align: center;
    font-size: 10em;
    grid-area: head;
    /* border: 1px solid black;  */
}

.nav-bar {
    grid-area: nav;
    line-height: 5rem; 
    padding-left: 20px;
    text-decoration: none;

}

.nav-bar a {
    color: gray;
    opacity: 0.7;
    text-decoration: none;
} 

.nav-bar a:hover {
    color: black;
    opacity: 1;
    
}


.main-area {
    grid-area: main;
    text-align: center;
}

.foot {
    grid-area: foot;
    text-align: center;
    background-color: black;
    color: white;
}

#foot-type {
    font-style: italic;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .grid-class {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 75px auto 1fr 60px;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;    
        grid-template-areas: "image image" "nav nav" "main main" "foot foot";
        width: 100vw;
        height: 100vh;
    }
    .nav-bar li {
        align-items: center;
        text-align: center;
        display: inline-block;
        padding-top: 3em;
        padding-right: 3em;
        margin-left: auto;
        margin-right: auto;

        }

        ul {
            align-items: center;
            padding-left: 20%;
        }

        #logo {
            display: flex;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            padding-left: 45%;
        }
  
}

@media(max-width: 600px) {
    .grid-class {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 75px auto 1fr 60px;
        grid-column-gap: 0.5rem;
        grid-row-gap: 0.5rem;    
        grid-template-areas: "head head" "main main" "nav nav" "image image";
        width: 100vw;
        height: 100vh;
        
    }

    .nav-bar li {
        text-align: center;
        display: inline-block;
        padding-right: 1em;
        padding-left: 1em;

        }
    .foot {
        display: none;
    }

    #logo {
        display: none;
    }
}