@import './../../constants.less';

h3 {
    font-size: 1.8em;
    padding: .4em;
}

main {
    height:100%;

    > section {
        height: 100%;
        overflow: auto;

        ul {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr;
            grid-row-gap: 1em;
            //default up to 600 or 800

            li > div {
                height: 43vh;
            }
    

            @media (min-width: 1800px) {
                grid-template-rows: repeat(2, 1fr);
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
//1800
//1400
//1100 -- desktop
//800 --tablet
//600
// 400 -- mobile

}
