:local(.album-detail) {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "display" "nav";
  grid-template-rows: 1fr auto;
  .sub-nav {
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    grid-area: nav;
    background-color: var(--soft-black);
    li {
      width: 33.3%;
      text-align: center;
    }
    a {
      display: block;
      width: 100%;
      padding: 1rem;
      color: white;
      &.current-sub {
        background-color: var(--teal);
      }
    }
  }
  .album-display {
    background-color: var(--pale-gray);
    .album-info {
      padding: 0.75rem 1.25rem 0 1.25rem;
    }
    .images {
      padding: 1.25rem;
      width: fit-content;
      margin: 0 auto;
    }
  }
  @media (min-width: 768px) {
    grid-template-columns: 1fr 5.5fr;
    grid-template-areas: "nav display" "nav display";
    .sub-nav {
      height: 100%;
      position: static;
      display: block;
      li {
        width: 100%;
        text-align: left;
      }
    }
    .album-display {
      .images {
        width: 100%;
      }
    }
  }
}