@import url('https://fonts.googleapis.com/css?family=Karla:400,400i,700');


ul {
    
    list-style-type: none;

    .album-grid {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-template-areas: "album album album
                          album album album
                          album album album";

    }

    #title {
        font-weight: 700;
        text-decoration-line: underline;
        padding-bottom: 14px;
    }

    #poster-image {
        width: 600px;
        padding-bottom: 2%;
        background-position: center;   
        max-width:100%;
        height: auto;
        width: auto\9;
    }

    #description {
        font-size: 14px;
        font-style: italic;
        padding-bottom: 3%;
    }
}

