:local(.thumbnails) {
  display: grid;
  grid-template-columns: repeat(2, 120px);
  grid-gap: 20px;
  li {
    padding: 10px;
    background-color: white;
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      margin-top: 10px;
      font-size: 0.8em;
    }
  }
  @media (min-width: 600px) {
    grid-template-columns: repeat(3, 120px);

  }
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, 120px);
  }
}