:local(.content) {
    img { 
        position: relative; 
        width: 100%;
    }
    
    h2 span { 
        position: absolute; 
        top: 45%; 
        width: 50%;
        height: 10%;
        font-size: 2em;
        margin: auto;
        text-align: center;
        color: #b8bdab;
        background:rgb(12,37,41, 0.7);
        padding: 5%;
    }
}