:local(.navigation) {
    header img {
        max-width: 100%;
    }
    ul {
        display: grid;
        grid-template-columns: 5fr 1fr 1fr 1fr;
        padding: 2%;
        background-color: #e6757b;
        li {
            background-color: #e6757b;
            color: black;
            align-self: center;
        }
        a {
            color: #b8bdab;
        }
    }

}