// out: null
/*
File Name: palette.css
Date: 4/20/18 - revised!
Programmer: Mario Lopriore
*/

// breakpoints
// used in images/actions
// used in main + app.less
//1800
//1400
//1100 -- desktop
//800 --tablet
//600
// 400 -- mobile

// pallette

@salmon: #e6757b;
@gray: #b8bdab;

// sizing
@header-height: 5vh;