:root {
  --teal: #49abd0;
  --bright-teal: #0fbcdb;
  --cobalt: #222b77;
  --soft-black: #141414;
  --pale-gray: #ebebeb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--soft-black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}